.container {
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 40px 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin: 3px 0 40px 0;
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  transform: scaleY(1.6);
  color: var(--black);
}

.container h4 {
  margin-top: 60px;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  transform: scaleY(1.4);
  color: var(--black);
}

.results {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 600px;
}

.listItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(100.36deg, #008CFF 15.36%, #0057A2 109.08%);
}

.iconWrapper {
  position: absolute;
  top: -20px;
  left: -10px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper img {
  width: 32px;
  height: 32px;
}

.textWrapper {
  text-align: center;
  flex: 1;
}

.itemTitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 22px;
}

.item {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
