.container {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--white);
    padding: 0 20px;
    margin-bottom: 90px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container h2 {
    margin: 3px 0 40px 0;
    font-size: 34px;
    font-weight: 600;
    line-height: 60px;
    transform: scaleY(1.6);
    color: var(--black);
}

.container h4 {
    margin-top: 19px;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    transform: scaleY(1.4);
    color: var(--black);
}


.listItem {
    position: relative;
    margin-bottom: 30px;
    padding: 12px 25px 8px 25px;
    width: 100%;
    min-height: 78px;
    border-radius: 10px;
    background: linear-gradient(100.36deg, #008CFF 15.36%, #0057A2 109.08%);
}

.listItem p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    transform: scaleY(1.2);
}

.itemTitle p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    transform: scaleY(1.2);
}

.image {
    position: absolute;
    top: -21px;
    left: -9px;
    width: 50px;
    height: 50px;
    background-color: #E2EDF2;
    padding: 10px;
    border-radius: 50%;
}
