.container {
  position: relative;
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
  text-align: center;
  color: var(--white);
}

.container h3 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
  transform: scaleY(1.4);
  margin-bottom: 35px;
}

.wrapper {
  width: 100%;
  text-align: center;
  display: block;
}

.sliderWrapper {
  margin-bottom: 50px;
}
