.sliderContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.card {
  display: flex;
  width: 100%;
  margin-right: 10px;
}

.slide {
  min-width: 100%;
  display: flex;
}

.reviewCard {
  width: 100%;
  height: 260px;
  background: rgba(237, 237, 237, 1);

  border-radius: 12px;
  padding: 10px 15px;
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.reviewCard h4 {
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-color);
}

.desc {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
}

.text {
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary-color);
}


.controls {
  margin-top: 20px;
}

.indicators {
  display: flex;
  gap: 8px;
}

.indicator {
  flex-grow: 1;
  height: 8px;
  background: rgb(79, 176, 255);
  opacity: 0.3;
  border-radius: 5px;
  border: none;
}

.active {
  opacity: 1;
}