.container {
  width: 100%;
  padding: 0 20px 40px;
  text-align: center;
  color: var(--white);
  margin-top: 20px;
}

.container h2 {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  transform: scaleY(1.6);
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.planCard {
  background: rgba(0, 140, 255, 0.22);
  border-radius: 10px;
  padding: 70px 20px 50px 20px;
  position: relative;
}

.planHeader {
  position: absolute;
  width: calc(100% - 50px);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #007BFF;
  border-radius: 10px;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 40px;
}

.planHeader h4 {
  font-size: 18px;
  font-weight: 600;
  transform: scaleY(1.4);
}

.planHeader p {
  font-size: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.term p {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);

  gap: 15px;
  background: #fff;
  border-radius: 999px;
  padding: 10px 20px;
  max-width: 320px;
  margin: 0 auto;
}

.full,
.installments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full p,
.installments p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.full span,
.installments span {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.divider {
  width: 1px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
}