.container {
    position: relative;
    width: 100%;
    text-align: center;
    color: var(--white);
    margin-top: 60px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-stretch: condensed;
}


.container h2 {
    padding: 0 50px;
    margin-bottom: 60px;
    font-size: 31px;
    font-weight: 600;
    line-height: 31px;
    transform: scaleY(1.4);
}

.maximumContainer {
    position: relative;
    margin-bottom: 79px;
}

.maximumTitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -20px;
    left: 50%;
    width: 285px;
    height: 55px;
    transform: translateX(-50%);
    border-radius: 1111px;
    box-shadow: 0px 4px 10px 0px rgba(0, 140, 255, 0.64), 0px -4px 10px 0px rgba(0, 140, 255, 0.64);
    background: rgb(0, 140, 255);
}

.maximumTitle h4 {
    font-size: 23px;
    font-weight: 500;
    line-height: 18px;
}


.maximumContainer {
    padding: 65px 10px 10px;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 140, 255, 0.22);
}

.listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    gap: 32px;
    margin-left: 15px;
}

.line {
    position: absolute;
    top: 58px;
    left: 36px;
    width: 1px;
    height: 70%;
    background: rgb(255, 255, 255);
}

.termItem {
    flex-grow: 1;
    display: flex;
    margin-left: 12px;
    text-align: left;
}

.termItem p {
    font-size: 17px;
    font-weight: 400;
    line-height: 15px;
    transform: scaleY(1.2);
}

.checkmark,
.cross {
    width: 30px;
    display: flex;
}

.estimatedPrice {
    margin: 32px 0;
    color: var(--white);
}

.estimatedPrice p {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.priceContainer {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 319px;
    height: 53px;
    border-radius: 1111px;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.64), 0px -4px 10px 0px rgba(255, 255, 255, 0.64);
    background: rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.fullPrice,
.inInstallments {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--black);
    padding: 0 18px;
}

.priceContainer p{
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
}

.priceLine {
    width: 1px;
    height: 40px;
    background: rgba(0, 0, 0, 0.53);
}
