.container {
  padding: 0 20px;
  margin-bottom: 100px;
}

.wrapper {
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 25px 15px;
  border: 1px solid rgb(0, 140, 255);
  border-radius: 20px;
  background: rgba(2, 8, 37, 0.44);
  font-stretch: condensed;
}

.title {
  font-size: 29px;
  font-weight: 600;
  line-height: 37px;
  margin-bottom: 30px;
  transform: scaleY(1.4);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  background: rgba(0, 140, 255, 0.2);
  transition: 0.3s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  outline: none;
  background: rgba(0, 140, 255, 0.35);
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #014984 3.47%, #40A9FF 49.45%, #014984 99.02%);
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(90deg, #0052cc, #1a75ff);
}

.error {
  color: red;
  font-size: 14px;
  margin: 4px 0 10px;
}

.status {
  margin-top: 12px;
  font-weight: 600;
  color: #008c32;
  text-align: center;
}


.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
