.container {
  position: relative;
  width: 100%;
  text-align: center; 
  color: var(--white);
  padding:  0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  padding-bottom: 25px;
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  transform: scaleY(1.6);
  color: var(--black);
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.resultItem {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(100.36deg, #008CFF 15.36%, #0057A2 109.08%);
}

.resultItem p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 5px 0;
  text-align: left; 
}

.willLearn,
.willBeAbleTo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.willLearn p,
.willBeAbleTo p {
  padding: 3px 10px;
  border-radius: 110px;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  flex-shrink: 0; 
}

.line {
  flex: 1; 
  height: 1px;
  background: rgba(255, 255, 255, 0.37);
  margin-left: 10px;
}
