.container {
  width: 100%;
  text-align: center;
  color: var(--black);
  padding: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-bottom: 32px;
  font-size: 27px;
  font-weight: 600;
  line-height: 35px;
  transform: scaleY(1.6);
}

.structure {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.moduleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.moduleNumber {
  flex: 0 0 70px;
  text-align: center;
  font-weight: 600;
}

.moduleNumber span {
  font-size: 14px;
  line-height: 23px;
  transform: scaleY(1.2);
}

.moduleTitle {
  flex: 1;
  text-align: left;
}

.moduleTitle p {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transform: scaleY(1.3);
}

.plusButton {
  flex: 0 0 30px;
  text-align: center;
  cursor: pointer;
}

.line {
  border: 1px solid rgba(0, 140, 255, 0.5);
}

.imageContainer {
  width: 100%;
  height: 235px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moduleImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
