.container {
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 20px;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  position: absolute;
  padding: 0 15px;
  font-size: 26px;
  font-weight: 600;
  line-height: 29px;
  transform: scaleY(1.6);
  color: var(--white);
  background-color: #001030;
}

.practical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 60px 0;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  gap: 40px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  gap: 50px;
  position: relative;
}

.iconWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: relative;
  top: 20px;
}

.textWrapper {
  text-align: center;
}

.itemTitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  transform: scaleY(1.3);
  margin-bottom: 12px;
}

.item {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  transform: scaleY(1.3);
}