.mainWrapper,
.problemsWrapper,
.reviewsWrapper,
.stagesOfApproval,
.experts,
.forYou,
.results,
.youGet,
.practicalApproach,
.structure,
.participationFormat,
.registrationForm {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.background,
.problemsBackground,
.mainToProblems,
.ellipse17 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.background {
    width: 100%;
    height: 100%;
    background-color: var(--dark-background);
}

.mainBackgroundImgSRC {
    position: absolute;
    width: 1039px;
    height: 693px;
    left: -144px;
    top: -4px;
    filter: blur(4px);
    z-index: 1;
}

.problemsBackground {
    width: 100%;
    height: 100%;
    background-color: var(--dark-background);
}

.mainToProblems {
    width: 100%;
    height: 100px;
    background-color: var(--dark-background);
}

.ellipse17 {
    width: 121px;
    height: 222px;
    left: -88px;
    top: 153px;
    filter: blur(100px);
    background: rgb(0, 186, 253);
}


.problemsToStages,
.expertsToForYou,
.forYouToResults,
.resultsToYouGet,
.youGetToPracticalApproach,
.practicalApproachToStructure,
.participationFormatToReviews,
.structureToParticipationFormat,
.participationFormatToRegistrationForm,
.registrationFormFooter,
.practicalApproachfooter {
    position: absolute;
    width: 110%;
    height: 120px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #001030;
    z-index: 10;
    pointer-events: none;
}

.staegesToExperts,
.reviewsWrapperToRegistrationForm,
.problemsToStages {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background: #001030;
    z-index: 10;
    pointer-events: none;
    bottom: -70px;
    box-shadow: 0px -7px 7px 0px rgba(0, 0, 0, 0.67);
}

.staegesToExperts,
.reviewsWrapperToRegistrationForm {
    bottom: -70px;
}


.problemsToStages {
    background: #010724;
    top: -70px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.64);
}



.content,
.problemsContent,
.reviewsContent,
.stagesOfApproval>*,
.experts>*,
.forYou>*,
.results>*,
.youGet>*,
.practicalApproach>*,
.structure>*,
.participationFormat>*,
.registrationForm>*:not(.participationFormatToRegistrationForm):not(.registrationFormFooter) {
    position: relative;
    z-index: 100 !important;
}


.registrationForm,
.participationFormat,
.practicalApproach,
.forYou,
.experts {
    background-color: #001030;
}



.structureToParticipationFormat,
.resultsToYouGet,
.expertsToForYou {
    bottom: -70px;
}

.practicalApproachToStructure {
    bottom: 70px;
}

.forYouToResults,
.participationFormatToReviews {
    top: -70px;
}