/* .main {
    position: relative; 
    width: 100vw;
    background-color: #010724;
    z-index: -3; 
}

.mainBackgroundImgSRC{
    position: absolute;
    width: 1039.37px;
    height: 693px;
    left: -144px;
    top: -4px;
    filter: blur(4px);
    pointer-events: none;
}
 */

.mainWrapper {
    position: relative;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    background-color: #010724;
    pointer-events: none;
    /* чтобы фон не мешал кликам */
}

.mainBackgroundImgSRC {
    position: absolute;
    width: 1039.37px;
    height: 693px;
    left: -144px;
    top: -4px;
    filter: blur(4px);
}

.content {
    position: relative;
    z-index: 0;
    /* теперь <Main /> будет в нормальном потоке */
}



/* .problems {
    position: relative;
    width: 100vw;
    background-color: #010724;
    z-index: -1;
}

.mainToProblems {
    position: absolute;
    top: -2px;
    width: 100vw;
    height: 100px;
    background-color: #010724;
    z-index: -1;
} */
.problemsWrapper {
    position: relative;
    width: 100vw;
    background-color: #010724;
}

.problemsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*     z-index: -3; */
    pointer-events: none;
    /* фон не мешает */
    background-color: #010724;
}

.mainToProblems {
    position: absolute;
    top: -2px;
    width: 100vw;
    height: 100px;
    background-color: #010724;
}

.problemsContent {
    position: relative;
    z-index: 0;
}


.ellipse17 {
    position: absolute;
    width: 121px;
    height: 422.28px;
    left: -68px;
    top: 103px;
    filter: blur(150px);
    background: rgb(0, 186, 253);
}


.stagesOfApproval {
    position: relative;
    width: 100vw;
    background-color: #ffffff;
    z-index: -2;
}

.problemsToStages {
    border-radius: 20px;
    position: absolute;
    top: -152px;
    width: 100vw;
    height: 100px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.64);
    background: rgb(1, 7, 36);
    z-index: -2;
}

.experts {
    position: relative;
    width: 100vw;
    background-color: #010724;
    z-index: -1;
}

.staegesToExperts {
    position: absolute;
    top: -20px;
    width: 100vw;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px -7px 7px 0px rgba(0, 0, 0, 0.67);
    background: rgb(1, 7, 36);
}


.forYou {
    position: relative;
    width: 100vw;
    background-color: #010724;
    z-index: -2;
    margin-bottom: -70px;
}

.expertsToForYou {
    position: absolute;
    top: -90px;
    width: 100vw;
    height: 100px;
    background-color: #010724;
    z-index: -2;
}

.results {
    position: relative;
    width: 100vw;
    z-index: -2;
    display: flex;
    justify-content: center;
    /*    text-align: center; */
}

.forYouToResults {
    position: absolute;
    top: -5px;
    width: 125vw;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(0deg, #060E2D, #060E2D), #001030;
    z-index: -2;
}


.youGet {}

.resultsToYouGet {}

.practicalApproach {
    position: relative;
    width: 100vw;
    z-index: -2;
    display: flex;
    justify-content: center;
    background-color: #010724;
}

.youGetToPracticalApproach {
    position: absolute;
    top: -35px;
    width: 125vw;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(0deg, #060E2D, #060E2D), #001030;
    z-index: -2;
}

.practicalApproachfooter {
    position: absolute;
    bottom: -65px;
    width: 125vw;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(0deg, #060E2D, #060E2D), #001030;
    z-index: -2;
}

.structure {}

.practicalApproachToStructure {}

.participationFormat {
    position: relative;
    width: 100vw;
    z-index: -2;
    display: flex;
    justify-content: center;
    background-color: #010724;
}

.structureToParticipationFormat {
    position: absolute;
    top: -35px;
    width: 125vw;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(0deg, #060E2D, #060E2D), #001030;
    z-index: -2;
}

.registrationForm {
    position: relative;
    z-index: -2;
    justify-content: center;
    background-color: #010724;
}

.participationFormatToRegistrationForm {
    position: absolute;
    top: -50px;
    width: 100vw;
    height: 100px;
    background-color: #010724;
    z-index: -2;
}


.registrationFormFooter {
    position: absolute;
    bottom: -100px;
    width: 100vw;
    height: 150px;
    background-color: #010724;
    z-index: -2;

}