.button {
  position: relative;
  background-color: #008CFF;
  color: white;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  font-size: 29px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 5px;
  font-stretch: condensed;
  box-shadow: 3px 3px 0px 0px rgba(53, 105, 185, 1);
  z-index: 1000;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 0px 0px rgb(0, 39, 98);
  background: linear-gradient(205deg, rgb(0, 59, 164) -5.285%, rgb(79, 176, 255) 114.651%);
}