.main {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 60px 20px 100px;
  color: var(--white);
  z-index: 1; 
}

.main h3 {
  margin: 46px 0 57px 0;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 25px;
  transform: scaleY(1.6);
  color: var(--black);
  position: relative;
  z-index: 1;
}

.wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.ellipse {
  position: absolute;
  left: -50%;
  top: -100px;
  width: 600px;
  height: 600px;
  background: rgb(0, 186, 253);
  filter: blur(150px);
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 480px) {
  .main h3 {
    font-size: 20px;
    line-height: 22px;
  }

  .ellipse {
    width: 400px;
    height: 400px;
    left: -30%;
    top: -80px;
  }
}
