.main {
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  z-index: 1000;
}

.main p {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  z-index: 20;

}

.main h1 {
  position: relative;
  margin-top: 52px;
  color: var(--white);
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-style: normal;
  transform: scaleY(1.6);
  z-index: 20;
}

.wrapper {
  display: inline-block;
  width: 100%;
  height: 180px;
  text-align: center;
  z-index: 1000;
}

.descriptionButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.descriptionButton p {
  background-color: var(--primary-color);
  padding: 4px 12px;
  border-radius: 15px;
  margin-bottom: 32px;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 23px !important;
}

.coloredText {
  font-weight: 600 !important;
  color: var(--secondary-color);
}

.container {
  margin-bottom: 14px;
  display: flex;
  gap: 10px;
  text-align: left;
  z-index: 20;
}

.image {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}


.content1 {
  width: 180px;
}

.content2 {
  width: 160px;
}

.content3 {
  width: 150px;
}

.content4 {
  width: 110px;
}

.mainImage {
  position: absolute;
  width: 303px;
  height: 439px;
  right: 20px;
  top: 222px;
}


.button {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 5px;
  z-index: 1000;
}

.backgroundImgSRC {
  position: absolute;
  width: 768px;
  height: 1050px;
  right: -193px;
  top: 1px;
}

.itemImageBackground {
  position: absolute;
  right: 20px;
  top: 240px;
  width: 166px;
  height: 176px;
  filter: blur(100px);
  background: rgb(252, 254, 255);
  z-index: -3;
}


.ellipse1,
.ellipse2,
.ellipse3 {
  position: absolute;
  width: 768px;
  height: 143px;
  left: 0;
  top: 613px;
  background: rgb(1, 7, 36);
}

.ellipse1 {
  filter: blur(100px);
}

.ellipse2 {
  filter: blur(50px);
}

.ellipse3 {
  filter: blur(20px);
}





@media (max-width: 480px) {
  .mainImage {
    left: 140px;
  }
}