.container {
  position: relative;
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
  text-align: center;
  color: var(--dark-color);
  font-stretch: condensed;
}

.container h2 {
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
  transform: scaleY(1.5);
  margin-bottom: 20px;
}

.stageTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 30px 0 40px;
}

.stagesContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}

.container h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  transform: scaleY(1.2);
  color: var(--accent-color);
  margin-bottom: 10px;
}

.helpDescription {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transform: scaleY(1.2);
  margin-bottom: 35px;
}

.button {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 5px;
  background-color: var(--accent-color);
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.tooltip {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.tooltipIcon {
  position: relative;
  width: 300px;
}

.tooltipIcon img {
  position: absolute;
  top: -9px;
  left: -25px;
}

.blueText {
  color: var(--accent-color);
  font-weight: 700;
}
