.container {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--white);
}

h3 {
  margin: 38px 0 57px 0;
  color: var(--white);
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  font-stretch: condensed;
  transform: scaleY(1.3);
}

 .wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
} 

.coloredText {
  color: var(--secondary-color);
}