.main {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 0 20px;
}

.main h3 {
  position: relative;
  min-height: 50px;
  margin: 46px 0 57px 0;
  color: var(--white);
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  line-height: 25px;
  transform: scaleY(1.6);
  z-index: 10;
}

.wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.ellipse {
  position: absolute;
  left: -470px;
  top: -200px;
  z-index: -1;
}