.main {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 0 20px;
    z-index: 10;
}

.main h3 {
  min-height: 50px;
  margin: 46px 0 57px 0;
  color: var(--white);
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  line-height: 25px;
  transform: scaleY(1.6);
}

.wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 10;
}